<a href="https://colab.research.google.com/github/RajakAmit/energy-efficiency-dataset/blob/main/enery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Clone the GitHub repository
!git clone https://github.com/RajakAmit/energy-efficiency-dataset.git

# Navigate into the cloned repository
%cd energy-efficiency-dataset

# Import pandas
import pandas as pd

# Load the dataset
data = pd.read_csv('energy-efficiency.csv')

# Display the first few rows of the dataset
data.head()

Cloning into 'energy-efficiency-dataset'...
remote: Enumerating objects: 11, done.
remote: Counting objects: 100% (11/11), done.
remote: Compressing objects: 100% (9/9), done.
remote: Total 11 (delta 2), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (11/11), 1.71 MiB | 3.83 MiB/s, done.
Resolving deltas: 100% (2/2), done.
/content/energy-efficiency-dataset/energy-efficiency-dataset/energy-efficiency-dataset/energy-efficiency-dataset

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

2. Demonstrating SQL Operations in Google Colab

In [6]:
import sqlite3
import pandas as pd

# Create a connection to a SQLite database (in-memory database for this example)
conn = sqlite3.connect(':memory:')

# Load the dataset into a pandas DataFrameenergy_dataset.csv
data = pd.read_csv('energy-efficiency.csv')

# Write the DataFrame to a SQL table
data.to_sql('Energy_dataset', conn, index=False, if_exists='replace')

768


1. Select Records

In [7]:
# Select all records
select_query = "SELECT * FROM Energy_dataset LIMIT 5"
selected_data = pd.read_sql(select_query, conn)
print(selected_data)

     X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0  0.98  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33
1  0.98  514.5  294.0  110.25  7.0   3  0.0   0  15.55  21.33
2  0.98  514.5  294.0  110.25  7.0   4  0.0   0  15.55  21.33
3  0.98  514.5  294.0  110.25  7.0   5  0.0   0  15.55  21.33
4  0.90  563.5  318.5  122.50  7.0   2  0.0   0  20.84  28.28

 2.Insert Records

In [8]:
# Insert a new record
insert_query = """
INSERT INTO Energy_dataset (X1, X2, X3, X4, X5, X6, X7, X8, Y1, Y2)
VALUES (0.62, 514.5, 294.0, 110.25, 7.0, 2, 0.0, 0, 15.55, 21.33)
"""
conn.execute(insert_query)
conn.commit()

# Verify insertion
verify_insert = "SELECT * FROM Energy_dataset WHERE X1 = 0.62"
inserted_data = pd.read_sql(verify_insert, conn)
print(inserted_data)

      X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0   0.62  808.5  367.5  220.50  3.5   2  0.0   0   8.60  12.07
1   0.62  808.5  367.5  220.50  3.5   3  0.0   0   8.49  12.22
2   0.62  808.5  367.5  220.50  3.5   4  0.0   0   8.45  12.08
3   0.62  808.5  367.5  220.50  3.5   5  0.0   0   8.50  12.04
4   0.62  808.5  367.5  220.50  3.5   2  0.1   1  12.96  14.34
..   ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
60  0.62  808.5  367.5  220.50  3.5   2  0.4   5  16.54  16.88
61  0.62  808.5  367.5  220.50  3.5   3  0.4   5  16.44  17.11
62  0.62  808.5  367.5  220.50  3.5   4  0.4   5  16.48  16.61
63  0.62  808.5  367.5  220.50  3.5   5  0.4   5  16.64  16.03
64  0.62  514.5  294.0  110.25  7.0   2  0.0   0  15.55  21.33

[65 rows x 10 columns]

3. Update Records

In [9]:
# Update records
update_query = "UPDATE Energy_dataset SET Y1 = 16.75 WHERE X2 = 514.5"
conn.execute(update_query)
conn.commit()

# Verify update
verify_update = "SELECT * FROM Energy_dataset WHERE X2 = 514.5"
updated_data = pd.read_sql(verify_update, conn)
print(updated_data)

      X1     X2     X3      X4   X5  X6   X7  X8     Y1     Y2
0   0.98  514.5  294.0  110.25  7.0   2  0.0   0  16.75  21.33
1   0.98  514.5  294.0  110.25  7.0   3  0.0   0  16.75  21.33
2   0.98  514.5  294.0  110.25  7.0   4  0.0   0  16.75  21.33
3   0.98  514.5  294.0  110.25  7.0   5  0.0   0  16.75  21.33
4   0.98  514.5  294.0  110.25  7.0   2  0.1   1  16.75  26.47
..   ...    ...    ...     ...  ...  ..  ...  ..    ...    ...
60  0.98  514.5  294.0  110.25  7.0   2  0.4   5  16.75  32.88
61  0.98  514.5  294.0  110.25  7.0   3  0.4   5  16.75  33.23
62  0.98  514.5  294.0  110.25  7.0   4  0.4   5  16.75  33.76
63  0.98  514.5  294.0  110.25  7.0   5  0.4   5  16.75  34.01
64  0.62  514.5  294.0  110.25  7.0   2  0.0   0  16.75  21.33

[65 rows x 10 columns]

4. Delete Records

In [10]:
# Delete records
delete_query = "DELETE FROM Energy_dataset WHERE X2 < 300"
conn.execute(delete_query)
conn.commit()

# Verify deletion
verify_delete = "SELECT * FROM Energy_dataset WHERE X2 < 300"
deleted_data = pd.read_sql(verify_delete, conn)
print(deleted_data)

Empty DataFrame
Columns: [X1, X2, X3, X4, X5, X6, X7, X8, Y1, Y2]
Index: []

3. Using Mathematical Expressions, Aggregate Functions, and Arithmetic Functions
Mathematical Expressions

In [11]:
# Mathematical expression: calculate a new column as the sum of two columns
math_query = "SELECT X1, X2, X3, (X2 + X3) AS Total_Area FROM Energy_dataset"
math_data = pd.read_sql(math_query, conn)
print(math_data.head())

     X1     X2     X3  Total_Area
0  0.98  514.5  294.0       808.5
1  0.98  514.5  294.0       808.5
2  0.98  514.5  294.0       808.5
3  0.98  514.5  294.0       808.5
4  0.90  563.5  318.5       882.0

Aggregate Functions

In [12]:
# Aggregate function: calculate the average Heating Load
aggregate_query = "SELECT AVG(Y1) AS Average_Heating_Load FROM Energy_dataset"
aggregate_data = pd.read_sql(aggregate_query, conn)
print(aggregate_data)

   Average_Heating_Load
0             21.393134

Arithmetic Functions

In [13]:
# Arithmetic function: calculate the ratio of Heating Load to Cooling Load
arithmetic_query = "SELECT Y1, Y2, (Y1 / Y2) AS Load_Ratio FROM Energy_dataset"
arithmetic_data = pd.read_sql(arithmetic_query, conn)
print(arithmetic_data.head())

      Y1     Y2  Load_Ratio
0  16.75  21.33    0.785279
1  16.75  21.33    0.785279
2  16.75  21.33    0.785279
3  16.75  21.33    0.785279
4  20.84  28.28    0.736917